#app {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  /* min-height: 100vh; */
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
